*{
    background-color: gray;
    font-family: Verdana; 
    
}

h1{ font-size: large;
    font-style: normal;
    color: black;
}
.navbar {
    text-align: right;
    color:white;
    overflow: hidden;
    float: right;
    padding: 0%;
}