*{
    background-color: gray;
    font-family: Verdana; 
    
}

h1{ font-size: larger;
    color: black;
    text-align: center;
}
.navbar {
    background-color: antiquewhite;
    text-align: right;
    color:white;
    float: right;
    padding: 0%;
}
h2{
    text-align: center;
}
.about {
    text-align: center;
}
.skills{
    text-align: center;
}
.img{
    text-align: center;
    border-radius: 50%;
}